@model IEnumerable<BlogMvcApp.Models.BlogModel>
@{
    ViewBag.Title = "Bloglarım - Psikolojik Danışman S. Gürkan Ustaoğlu";
    ViewBag.MetaDescription = "S. Gürkan Ustaoğlu - Kendi istediklerimi, kendi istediğim şekilde yazdığım bloglarımı okumak için takip edebilirsin.";
}





<div class="container-fluid yesil">
    <div class="row">
        <div class="col-md-12">
            <div class="pt-4"><p class="title-hak">Blog.</p></div>
        </div>
        <div class="col-md-12">
            <div class="pb-4"><p class="title-hak-yazi">Anasayfa / Blog</p></div>
        </div>
    </div>
</div>

@{Html.RenderAction("_KategoriListesi", "Category");}



<div class="container-fluid">
    <div class="row pt-5 calisma-alanlari-genislik">
        <div class="col-md-12">
            <div class="container-fluid">
                @if (Model.Count() == 0)

                {
                    <div class="alert alert-warning"> <h4 style="font-family:Poppins Medium">Bu Kategoride Blog Bulunmamaktadır.</h4></div>
                }
                else
                {


                    <div class="row calisma-alanlari-genislik ">

                        @foreach (var item in Model)
                        {


                            <div class="col-md-4 col-sm-6">
                                <div class="card border border-light">
                                    <img class="img-fluid blog-img" src="~/Upload/@Html.Raw("Resim"+@item.Resim)" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="blog-baslik">@item.Baslik</p>
                                        <p class="blog-ekleme-tarih">@item.EklenmeTarihi</p>
                                        <p class="blog-aciklama text-justify">@item.Aciklama</p>
                                        <a style="text-decoration:none" href="@Url.RouteUrl("BlogDetay", new { @controller="Blog", @action="Details", @Id = item.Id, @title = item.Baslik.ToLower()
                                                .Replace(' ','-').Replace('ğ','g').Replace("ş", "s").Replace("ı", "i").Replace("ö", "o").Replace("ü", "u").Replace("ç", "c").Replace("---", "-").Replace("--", "-").Replace("?", "").Replace("/", "").Replace(".", "")
.Replace("'", "-").Replace("#", "-").Replace("%", "-").Replace("&", "-").Replace("*", "-")
.Replace("!", "-").Replace(",", "-").Replace("@", "-").Replace("+", "-")
.Replace(";", "-").Replace(":", "-")
                                            })">
                                        <p class="blog-devam">DEVAMINI OKU<img src="~/gurkantema/img/blog-devam.svg"></p></a>


                                    </div>
                                </div>
                            </div>

                        }




                    </div>
                }

            </div>
        </div>
        
    </div>
</div>