@model BlogMvcApp.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container">
        <div class="col-12">

            <h3>Silmek İstediğinizden Emin misiniz?</h3>
            <div>
                <h4>Kategori</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.KategoriAdi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KategoriAdi)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Sil" class="btn btn-danger" /> 
                        @Html.ActionLink("Listeye Geri Dön", "Index", null, new { @class = "btn btn-light" })
                    </div>
                }
            </div>

            </div>
        </div>
