
@{
    ViewBag.Title = "Sıkça Sorulan Sorular - Psikolojik Danışman S. Gürkan Ustaoğlu";
    ViewBag.MetaDescription = "S. Gürkan Ustaoğlu'nun bireysel psikolojik danışmanlık ile ilgili en sık sorulan soruları ve cavapları açıkladığı sayfayı inceleyin.";
}

<div class="container-fluid yesil">
    <div class="row">
        <div class="col-md-12">
            <div class="pt-4"><p class="title-hak">S.S.S</p></div>
        </div>
        <div class="col-md-12">
            <div class="pb-4"><p class="title-hak-yazi">Anasayfa / S.S.S</p></div>
        </div>
    </div>
</div>





<div class="container pt-5">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link sss-soru" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ne Zaman Psikolojik Destek Almalıyım?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body sss-soru-yazi">
                    Hayat süreci içerisinde kimi zaman zorlu yaşam deneyimlerine maruz kalabiliriz. Bu deneyimler sonucu kendimizi stresli, kaygılı, öfkeli, sıkışmış, çaresiz ve mutsuz hissedebiliriz. Bu zorlu süreç devam ettikçe kişinin işlevselliğinde yavaşça bozulmalar başlar. Bu bozulmalar kişinin sorunlara karşı başa çıkma becerilerini olumsuz etkiler. Bu ve buna benzer durumlarda psikolojik destek almanız gerekebilir.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link sss-soru collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sorunlarımı kendim halledemez miyim?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body sss-soru-yazi">
                    Bu soruya net cevap vermek çok güç. Öncelikle sorununuzun sizi etkileyen boyutunu bilmek gerekir. Psikolojik rahatsızlıklar ciddi bir durumdur ve profesyonel destek alınarak üstesinden gelinmesi gereklidir. “Sorunlarımı kendim halletmeliyim” düşüncesi kişiyi psikoterapi sürecine başlamaktan alıkoyar.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link sss-soru collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Terapi süreci kaç seans sürer?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body sss-soru-yazi">
                    Psikoterapist için seansların ne kadar süreceğini önceden belirlemek çok güçtür. Her danışanın terapiye başlama sebebi birbirinden farklıdır ve terapi süreci danışanların ihtiyaçları doğrultusunda şekillenir.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link sss-soru collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Seansların süresi ne kadar?
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body sss-soru-yazi">
                    Psikoterapi seansları uygulanan terapi yöntemine göre farklılıklar gösterebilmektedir ancak genel de 40-50 dakika arası sürmektedir. İlk seanslar bazen daha uzun sürebilir.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link sss-soru collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Hasta gizliliği nasıl korunur?
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body sss-soru-yazi">
                    Terapi sürecinin en önemli ilkelerinden bir tanesi danışan gizliliğidir. Danışanın paylaştığı hiçbir bilgi danışanın rızası olmadan paylaşılamaz. Ancak hayati tehlikenin bulunduğu durumlarda gizlilik ilkesi ortadan kalkar.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link sss-soru collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Online terapi nasıl yapılıyor?
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body sss-soru-yazi">
                    Online terapi danışanın ve psikolojik danışmanın aynı mekanda bulunma olanağı olmadığı durumlarda görüntülü konuşma, telefon görüşmesi ya da mesaj yolu ile yapılmaktadır. Danışanın terapi sırasında yalnız olması gerekmektedir. Bulunduğu ortamın ise sessiz ve sakın olması terapi seansının verimliliği için oldukça önemlidir.
                </div>
            </div>
        </div>

    </div>



    <div class="py-5"><button type="submit" onclick="window.location.href = '/Home/Iletisim';" class="btn turuncu_btn " style="color: white; padding: 10px 50px 10px 50px; font-family: Poppins Bold">ONLINE RANDEVU AL</button></div>



</div>



